@model IEnumerable<WebSiteBanDienThoai.Entity.Product>
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- SLIDE TOP -->
@Html.Partial("_PartialSlide")


<div class="row">
    <div class="col-md-12">
        <div class="product-home-content clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">

                @foreach (var item in Model)
                {
                    <div class="col-md-2 col-sm-4 col-xs-12 no-padding">
                        <div class="product-item">
                            <div class="pro-image">
                                <a href="@Url.Action("Detail", "Product", new { @ProductID=item.ProductID})">
                                    <img src="@Url.Content("~/" + item.Images)" alt="Máy quay FDR-AXP35" class="img-responsive">
                                </a>
                            </div>
                            <div class="pro-content">
                                <h4 class="pro-name">
                                    <a href="@Url.Action("Detail", "Product", new { @ProductID=item.ProductID})">@item.Name</a>
                                </h4>
                                <div class="pro-price">

                                    <p class="price-new">@string.Format("{0:0,0}", item.PriceProduct) VND</p>
                                    <p class="price-old">
                                        <del>

                                        </del>
                                    </p>
                                </div>
                                <div class="link-detail"><span><a href="@Url.Action("Detail", "Product", new { @ProductID=item.ProductID})">Chi tiết</a></span></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
