@using WebSiteBanDienThoai.Entity;
@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    User user = (User)Session["user"];
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    @*<div class="col-sm-6 col-md-4">
                            <img src="~/FileUploads/images/1.png" alt="" class="img-rounded img-responsive" />
                        </div>*@
                    <div class="col-md-12">
                        <div class="row" style="height:400px;overflow-y: auto;">
                            <div class="col-lg-3">
                                <ul class="nav nav-tabs pd-nav">
                                    <li role="presentation" class="active" style="width:100%;cursor:pointer;">
                                        <a href="#pd-thong-tin" aria-controls="pd-thong-tin" role="tab" data-toggle="tab" aria-expanded="true" style="cursor: pointer;">
                                            Thông tin tài khoản
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="width:100%;cursor:pointer;">
                                        <a href="#pd-dat-hang" aria-controls="pd-dat-hang" role="tab" data-toggle="tab" aria-expanded="false">Đặt hàng</a>
                                    </li>
                                    <li role="presentation" class="" style="width:100%;cursor:pointer;">
                                        <a href="#pd-dac-diem" aria-controls="pd-dac-diem" role="tab" data-toggle="tab" aria-expanded="false">Hóa đơn</a>
                                    </li>
                                    <li role="presentation" style="width:100%;cursor:pointer;">
                                        <a href="#pd-danh-gia" aria-controls="pd-danh-gia" role="tab" data-toggle="tab">Đổi mật khẩu</a>
                                    </li>
                                    <li role="presentation" style="width:100%;cursor:pointer;">
                                        <a href="/Account/Logout">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-9">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="pd-thong-tin">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h4>@user.FullName</h4>
                                                <table class="table table-user-information">
                                                    <tbody>
                                                        <tr>
                                                            <td>UserName:</td>
                                                            <td>@user.Username</td>
                                                        </tr>
                                                        <tr>
                                                        <tr>
                                                            <td>Email:</td>
                                                            <td><a href="mailto:@user.Email">@user.Email</a></td>
                                                        </tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="pd-dat-hang">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h4>Danh sách đơn hàng</h4>
                                                <table class="table table-user-information">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã ĐH</th>
                                                            <th>Ngày tạo</th>
                                                            <th>Họ tên</th>
                                                            <th>Điện thoại</th>
                                                            <th>Địa chỉ giao hàng</th>
                                                            <th>Trạng thái</th>
                                                            <th>Tổng tiền</th>
                                                            <th>Chi tiết</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="order-table">
                                                            
                                                    </tbody>                                                    
                                                </table>                                                
                                            </div>
                                        </div>

                                    </div>
                                    <style>
                                        .widget-area {
                                            background-color: #fff;
                                            -webkit-border-radius: 4px;
                                            -moz-border-radius: 4px;
                                            -ms-border-radius: 4px;
                                            -o-border-radius: 4px;
                                            border-radius: 4px;
                                            -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
                                            -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
                                            -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
                                            -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
                                            box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
                                            float: left;
                                            margin-top: 30px;
                                            padding: 25px 30px;
                                            position: relative;
                                            width: 100%;
                                        }

                                        .status-upload {
                                            background: none repeat scroll 0 0 #f5f5f5;
                                            -webkit-border-radius: 4px;
                                            -moz-border-radius: 4px;
                                            -ms-border-radius: 4px;
                                            -o-border-radius: 4px;
                                            border-radius: 4px;
                                            float: left;
                                            width: 100%;
                                        }

                                            .status-upload form {
                                                float: left;
                                                width: 100%;
                                            }

                                                .status-upload form textarea {
                                                    background: none repeat scroll 0 0 #fff;
                                                    border: medium none;
                                                    -webkit-border-radius: 4px 4px 0 0;
                                                    -moz-border-radius: 4px 4px 0 0;
                                                    -ms-border-radius: 4px 4px 0 0;
                                                    -o-border-radius: 4px 4px 0 0;
                                                    border-radius: 4px 4px 0 0;
                                                    color: #777777;
                                                    float: left;
                                                    font-family: Lato;
                                                    font-size: 14px;
                                                    height: 142px;
                                                    letter-spacing: 0.3px;
                                                    padding: 20px;
                                                    width: 100%;
                                                    resize: vertical;
                                                    outline: none;
                                                    border: 1px solid #F2F2F2;
                                                }

                                            .status-upload ul {
                                                float: left;
                                                list-style: none outside none;
                                                margin: 0;
                                                padding: 0 0 0 15px;
                                                width: auto;
                                            }

                                                .status-upload ul > li {
                                                    float: left;
                                                }

                                                    .status-upload ul > li > a {
                                                        -webkit-border-radius: 4px;
                                                        -moz-border-radius: 4px;
                                                        -ms-border-radius: 4px;
                                                        -o-border-radius: 4px;
                                                        border-radius: 4px;
                                                        color: #777777;
                                                        float: left;
                                                        font-size: 14px;
                                                        height: 30px;
                                                        line-height: 30px;
                                                        margin: 10px 0 10px 10px;
                                                        text-align: center;
                                                        -webkit-transition: all 0.4s ease 0s;
                                                        -moz-transition: all 0.4s ease 0s;
                                                        -ms-transition: all 0.4s ease 0s;
                                                        -o-transition: all 0.4s ease 0s;
                                                        transition: all 0.4s ease 0s;
                                                        width: 30px;
                                                        cursor: pointer;
                                                    }

                                                        .status-upload ul > li > a:hover {
                                                            background: none repeat scroll 0 0 #606060;
                                                            color: #fff;
                                                        }

                                            .status-upload form button {
                                                border: medium none;
                                                -webkit-border-radius: 4px;
                                                -moz-border-radius: 4px;
                                                -ms-border-radius: 4px;
                                                -o-border-radius: 4px;
                                                border-radius: 4px;
                                                color: #fff;
                                                float: right;
                                                font-family: Lato;
                                                font-size: 14px;
                                                letter-spacing: 0.3px;
                                                margin-right: 9px;
                                                margin-top: 9px;
                                                padding: 6px 15px;
                                            }

                                        .dropdown > a > span.green:before {
                                            border-left-color: #2dcb73;
                                        }

                                        .status-upload form button > i {
                                            margin-right: 7px;
                                        }
                                    </style>
                                    <div role="tabpanel" class="tab-pane" id="pd-dac-diem">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h4>Danh sách hóa đơn</h4>
                                                <table class="table table-user-information">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã ĐH</th>
                                                            <th>Ngày tạo</th>
                                                            <th>Trạng thái</th>
                                                            <th>Nhân viên bán</th>
                                                            <th>Nhân viên vận chuyển</th>                                                            
                                                            <th>Tổng tiền</th>
                                                            <th>In</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bill-table"></tbody>
                                                </table>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="pd-danh-gia"> 
                                        <h4>Đổi mật khẩu</h4> 
                                        <div class="row">
                                            <div class="col-lg-12"><label>Mật khẩu cũ</label></div>
                                            <div class="col-lg-6"><input type="password" id="old-pass" name="oldPass" class="form-control" autocomplete="off" /></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-12"><label>Mật khẩu mới</label></div>
                                            <div class="col-lg-6"><input type="password" id="new-pass" name="newPass" class="form-control" /></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-12"><label>Nhập lại mật khẩu mới</label></div>
                                            <div class="col-lg-6"><input type="password" id="re-new-pass" name="reNewPass" class="form-control" /></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-6"><button class="btn btn-primary" style="width: 90px;" onclick="_changePass()">Lưu</button></div>
                                        </div>                                      
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="ct-dat-hang">
                                        <div class="row">
                                            
                                            <div class="col-lg-12">
                                                <div><div style="display:inline-block;"><h4>Chi tiết đơn hàng</h4></div><div style="float:right;display:inline-block;padding-top: 5px;" role="presentation"><a href="#pd-dat-hang" aria-controls="pd-dat-hang" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-arrow-left" style="font-size: 25px;"></i></a></div></div>
                                                <table class="table table-user-information">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã </th>
                                                            <th>Mã SP</th>
                                                            <th>Tên SP</th>
                                                            <th>Số lượng</th>
                                                            <th>Mã GG</th>
                                                            <th>Chiết khấu</th>
                                                            <th>Đơn giá</th>                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody id="order-detail-table"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <script>
                                $(document).ready(function() {


                                    $("[data-toggle=tooltip]").tooltip();
                                });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- Nav tabs -->
                        
                        <!-- Tab panes -->
                        



                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tmp-order-row" type="x-tmpl-mustache">
    <tr>
        <td>
            {{CartID}}
        </td>
        <td>
            {{Date}}
        </td>
        <td>
            {{CustomerName}}
        </td>
        <td>
            {{Phone}}
        </td>
        <td>
            {{Adress}}
        </td>
        <td>
            <div class="link-detail"><span><a style="background-color:{{statusColor}};" href="#">{{Status}}</a></span></div>            
        </td>
        <td>
            {{TotalPrice}}
        </td>
        <td>
            <div role="presentation" style="text-align:center;">
                <a href="#ct-dat-hang" aria-controls="ct-dat-hang" role="tab" data-toggle="tab" aria-expanded="false" style="color:black;"><i class="fa fa-eye" onclick="_showDetail({{CartID}})"></i></a>
            </div>                        
        </td>
    </tr>
</script>
<script id="tmp-order-detail-row" type="x-tmpl-mustache">
    <tr>
        <td>
            {{CartDetailID}}
        </td>
        <td>
            {{ProductID}}
        </td>
        <td>
            {{ProductName}}
        </td>
        <td>
            {{Amount}}
        </td>
        <td>
            {{PromotionName}}
        </td>
        <td>
            <div class="link-detail"><span><a style="background-color:orangered;" href="#">{{Sale}}</a></span></div>
        </td>
        <td>
            {{Price}}
        </td>        
    </tr>
</script>
<script id="tmp-bill-row" type="x-tmpl-mustache">
    <tr>
        <td>
            {{BillID}}
        </td>
        <td>
            {{BuyDate}}
        </td>
        <td>            
            <div class="link-detail"><span><a style="background-color:{{statusColor}};" href="#">{{Status}}</a></span></div>
        </td>
        <td>
            {{EmployeeSell}}
        </td>
        <td>
            {{EmployeeShip}}
        </td>
        <td>
            {{TotalPrice}}
        </td>
        <td>
            <div  style="text-align:center;">
                <a href="/Bill/Print?billId={{BillID}}" style="color:black;"><i class="fa fa-print"></i></a>
            </div>
        </td>        
    </tr>
</script>
@section jsFooter
{
<script>
    var OrderPaging = new Paging(1, 0, 10, null, null);
    var OrderTemplate = new TemplateClass("#tmp-order-row", "#order-table", "{ CartID: elm.CartID, }");
    var OrderObj = new Order(OrderPaging, OrderTemplate);    
    var OrderPage = { customerId : @user.CustormerId,currentPage:OrderObj.currentPage,totalPage:OrderObj.totalPage,sizeOnPage:OrderObj.sizeOnPage};
    var OrderServer = new Server("POST", "/DatHang/GetOrders", OrderPage);
    OrderObj.server = OrderServer;
    OrderObj._comeToPage(1,function(response){
        $.each(response.page.result, function (index, elm) {
            elm.DateStr = new Date(elm.Date).getDate() + '/' + (new Date(elm.Date).getMonth() + 1) + '/' + new Date(elm.Date).getFullYear();
            elm.TotalPrice = elm.TotalPrice.toLocaleString() + " VNĐ";
            if(elm.Status==1){
                elm.Status = "Đã xác thực";
                elm.statusColor = "green";
            }else if(elm.Status==-1){
                elm.Status = "Đã hủy";
                elm.statusColor = "red";
            }
            else{
                elm.Status = "Đợi xác nhận";
                elm.statusColor = "rgb(48, 169, 222)";
            }
        });
        OrderObj._setData(response.page);
        OrderObj._resetInterface();
        setTimeout(function(){$("#old-pass").val("") ; }, 500);
    },function(response){},function(){});
</script>
<script>
    var OrderDetailPaging = new Paging(1, 0, 10, null, null);
    var OrderDetailTemplate = new TemplateClass("#tmp-order-detail-row", "#order-detail-table", "{ CartID: elm.CartID, }");
    var OrderDetailObj = new OrderDetail(OrderDetailPaging, OrderDetailTemplate);
    var OrderDetailServer = new Server("POST", "/DatHang/GetOrderDetails", null);
    OrderDetailObj.server = OrderDetailServer;
    function _showDetail(cartId){
        var page = { customerId : cartId,currentPage:OrderDetailObj.currentPage,totalPage:OrderDetailObj.totalPage,sizeOnPage:OrderDetailObj.sizeOnPage};        
        OrderDetailObj.server.data = page;
        OrderDetailObj._comeToPage(1,function(response){
            $.each(response.page.result, function (index, elm) {
                elm.PriceProduct = elm.PriceProduct.toLocaleString() + " VNĐ";
                if(elm.PromotionID==null){
                    elm.Sale = "0%";
                    elm.PromotionName = "Không có KM";
                }else{
                    elm.Sale = elm.Promotion.SaleOff+"%";
                    elm.PromotionName = elm.Promotion.PromotionName;
                }
            });
            response.page.server = OrderDetailObj.server;
            OrderDetailObj._setData(response.page);
            OrderDetailObj._resetInterface();        
        },function(response){},function(){});
    }
</script>
<script>
    var BillPaging = new Paging(1, 0, 10, null, null);
    var BillTemplate = new TemplateClass("#tmp-bill-row", "#bill-table", "{ CartID: elm.CartID, }");
    var BillObj = new Bill(BillPaging, BillTemplate);
    var BillPage = { customerId : @user.CustormerId,currentPage:OrderObj.currentPage,totalPage:OrderObj.totalPage,sizeOnPage:OrderObj.sizeOnPage};
    var BillServer = new Server("POST", "/Bill/GetBills", BillPage);
    BillObj.server = BillServer;
    BillObj._comeToPage(1,function(response){
        $.each(response.page.result, function (index, elm) {
            elm.DateStr = new Date(elm.BuyDate).getDate() + '/' + (new Date(elm.BuyDate).getMonth() + 1) + '/' + new Date(elm.BuyDate).getFullYear();
            elm.TotalPrice = elm.TotalPrice.toLocaleString() + " VNĐ";
            if(elm.Status==1){
                elm.Status = "Đã nhận";
                elm.statusColor = "green";
            }else if(elm.Status==-1){
                elm.Status = "Đã hủy";
                elm.statusColor = "red";
            }else{
                elm.Status = "Đang giao";
                elm.statusColor = "rgb(48, 169, 222)";
            }
        });
        BillObj._setData(response.page);
        BillObj._resetInterface();
    },function(response){},function(){});    
</script>
<script>
        function _changePass(){
            if($("#new-pass").val()!=$("#re-new-pass").val()){
                notify.methods.warning._showDialog("Mật khẩu không khớp!","../Account");
                return;
            }
            dataSend = {oldPass:$("#old-pass").val(),newPass:$("#new-pass").val(),reNewPass:$("#re-new-pass").val()};
            server.methods._request("POST","/Account/ChangePass",dataSend,function(response){
                if(response.status==false){
                    notify.methods.warning._showDialog(response.mess,"../Account");
                }else if(response.status == "login"){
                    notify.methods.warning._showDialog(response.mess,"../Account/Logout");
                    window.location.href = "../Account/Logout";
                }
                else{
                    notify.methods.success._showDialog(response.mess, "../Account");
                    window.location.href = "../Account/Logout";
                }
            },function(response){},function(response){});
        }
    </script>
}