@using WebSiteBanDienThoai.Model;
@model ResponseRegister
@{
    ViewBag.Title = "Đăng kí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    #img-upload {
        width: 100%;
    }

    .form-group .file-upload {
        padding-right: 15px;
        padding-left: 15px;
    }

    .register-form .error {
        color: #e00000;
    }

    .register-form .col-md-12 {
        margin-top: 15px;
    }
</style>
<!-- Main Breadcrumb -->
<div class="main-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Đăng Kí</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Main Breadcrumb -->
<!-- Main Content -->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-style form-login">
                    <h3 class="form-heading">Đăng ký tài khoản</h3>
                    @if (Model.Status == false)
                    {
                        <div class="alert alert-danger">
                            <strong>Thông báo!</strong> @Model.Message
                        </div>
                    }
                    <p class="form-description">Nếu bạn đã có một tài khoản, xin vui lòng chuyển qua trang <a href="../Account/Login">đăng nhập.</a></p>
                    <form method="post" action="../../Account/CreateAccount" enctype="multipart/form-data" name="registerForm" class="register-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <p class="text-left">Tên đăng nhập*</p>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.Acc.Username" name="UserName"  required minlength="3" maxlength="50">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <p class="text-left">Mật khẩu*</p>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="password" value="@Model.Acc.Password" name="Password"  minlength="6" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <p class="text-left">Nhập lại mật khẩu*</p>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="password" value="" name="passwordAgain" minlength="6" maxlength="50" required/>
                                        </div>
                                    </div>
                                     
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <p class="text-left">Họ tên*</p>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.Acc.FullName" name="FullName" minlength="6" maxlength="100" required>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <p class="text-left">Email*</p>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="email" value="@Model.Acc.Email" name="Email" minlength="6" maxlength="100" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-10">
                                <p><a href="/account/login">Đăng nhập</a></p>
                                <button class="btn-cart">Đăng ký</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="margin-top: -8px; margin-bottom: 8px;">
